.card {
  perspective: 150rem;
  position: relative;
  height: 55vh;
  min-height: 25vw;

  @media only screen and (max-width: $bp-phone-big) {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }

  &__container {
    width: calc((100% - #{$margin-medium} * 2) / 3);
    @media only screen and (max-width: $bp-phone-big) {
      width: 70vw;
    }
    &:not(:last-child) {
      margin-right: $margin-medium;
      @media only screen and (max-width: $bp-phone-big) {
        margin-right: 0;
      }
    }
  }

  &__side {
    width: 100%;
    height: 55vh;
    min-height: 25vw;
    background-color: $color-grey-light;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-light, 0.15);

    @media only screen and (max-width: $bp-phone-big) {
      position: static;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      height: 100%;
      transform: translateY(0.5rem);
    }
    &_front {
      &-img {
        font-size: 20rem;
        color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
          font-size: 15rem;
        }
      }
    }
    &_back {
      transform: rotateY(180deg);
      padding: $padding-medium $padding-small;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media only screen and (max-width: $bp-phone-big) {
        transform: rotateY(0);
        padding: 1rem 2.5rem;
      }

      &-text {
        font-size: $font-size-medium;
        @media only screen and (max-width: $bp-large) {
          font-size: 1.5rem;
        }
        @media only screen and (max-width: $bp-medium) {
          font-size: $font-size-small;
        }
      }
    }
  }
  &:hover &__side_front {
    transform: rotateY(-180deg);
    @media only screen and (max-width: $bp-phone-big) {
      transform: none;
    }
  }
  &:hover &__side_back {
    transform: rotateY(0);
    @media only screen and (max-width: $bp-phone-big) {
      transform: none;
    }
  }
}
