.mobile__nav {
  display: none;
  opacity: 0;

  @media only screen and (max-width: $pb-phone-big) {
    display: block;
    opacity: 1;
  }
  &_btn {
    border: none;
    background: none;
    cursor: pointer;

    @media only screen and (max-width: $pb-phone-big) {
      z-index: 999;
      position: absolute;
      top: 2rem;
      right: 3rem;
    }
  }
  &_icon {
    height: 4.8rem;
    width: 4.8rem;
    &-light {
      color: $color-grey-light;
    }
    &-dark {
      color: $color-grey-dark;
    }

    &-menu {
      display: block;

      .nav__open & {
        display: none;
      }
    }
    &-close {
      display: none;

      .nav__open & {
        display: block;
      }
    }
  }
}
