/* The actual timeline (the vertical ruler) */
.section__timeline {
  margin: 2.5rem 0;

  .sticky & {
    // Adding the hight of navigation as a margin, to prevent the page 'jumping' when the navbar become 'sticky'
    margin-top: 6rem;
  }

  &_line {
    max-width: 100vw;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0.6rem;
      transform: translateX(-50%);
      background-color: $color-grey-dark;
      top: 0;
      bottom: 0;
      left: 50%;
    }
  }

  &_container {
    display: flex;
    padding: 1rem 4rem;
    position: relative;
    background-color: inherit;
    width: 50%;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.5rem 1rem;
    }
    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      right: -1.3rem;
      background-color: $color-white;
      border: 4px solid $color-primary;
      top: 5rem;
      border-radius: 50%;
      z-index: 1;

      @media only screen and (max-width: $bp-large) {
        width: 2rem;
        height: 2rem;
        right: -1rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 1.7rem;
        height: 1.7rem;
        top: 3.5rem;
        right: -0.8rem;
      }
    }

    // Left side
    &-left {
      left: 0;
      justify-content: flex-end;

      & .section__timeline_content {
        text-align: end;
      }
    }

    // Right side
    &-right {
      left: 50%;
      &::after {
        left: -1.2rem;

        @media only screen and (max-width: $bp-large) {
          left: -1rem;
        }
        @media only screen and (max-width: $bp-medium) {
          left: -0.8rem;
        }
      }
    }
  }
  &_content {
    padding: $padding-small $padding-medium;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      padding: $padding-small;
    }

    & h2 {
      margin-bottom: $margin-smaller;
    }

    & span {
      font-size: 2rem;
      font-weight: 700;
      background-image: linear-gradient(
        to right,
        $color-s2i-dark,
        $color-s2i-light
      );
      -webkit-background-clip: text;
      color: transparent;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.5rem;
      }
    }
  }
}
