// Paddings
$padding-small: 2.5rem;
$padding-medium: 5rem;
$padding-large: 10rem;

// Colors
$color-black: #000;
$color-gray-dark: #040505;
$color-primary: #cb0417;
$color-primary-dark: #3d0107;
$color-primary-dark-2: #290105;
$color-primary-light: #cb0417;
$color-gray: #868e96;
$color-gray-light: #f8f9fa;
$color-white: #fff;

// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 50%, rgba(0,84,60,1) 100%);
