// Paddings
$padding-small: 2.5rem;
$padding-medium: 5rem;
$padding-large: 10rem;

// Colors
$color-black: #000;
$color-grey-dark: #040505;
$color-primary: #cb0417;
$color-primary-dark: #430108;
$color-primary-dark-2: #290105;
$color-primary-light: #cb0417;
$color-grey: #72787f;
$color-grey-light: #f8f9fa;
$color-white: #fff;

// Font-sizes
$font-size-regular: 1.7rem;
$font-size-medium: 2rem;
$font-size-big: 4.2rem;

// Shadows
$shadow-regular: 0 12px 35px rgba(0, 0, 0, 0.25);
