@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-110px); }
  70% {
    opacity: 1;
    transform: translateX(7px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(110px); }
  70% {
    opacity: 1;
    transform: translateX(-7px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-35px); }
  70% {
    opacity: 1;
    transform: translateY(7px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.9rem #430108; }

.heading__primary {
  font-size: 8rem; }

.heading__secondary {
  font-size: 4rem;
  color: #cb0417; }

.heading__tertiary {
  font-size: 3.6rem;
  color: #cb0417;
  margin-bottom: 3rem; }

.navigation {
  padding: 0 10rem;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: #000; }
  .sticky .navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(67, 1, 8, 0.6);
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999; }
  .navigation__nav {
    display: flex;
    list-style: none;
    gap: 4rem; }
  .navigation__link {
    gap: 4rem;
    justify-content: space-between;
    text-decoration: none;
    transition: all 0.3s; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.8rem;
      font-weight: 400;
      color: #f8f9fa; }
    .navigation__link:hover, .navigation__link:active {
      color: #cb0417; }

.header {
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  background-image: linear-gradient(to left top, #290105 0%, #010100 40%, #010100 100%); }
  .header__img-box {
    width: 70%;
    border-radius: 20%;
    justify-self: end;
    animation: moveInLeft 0.7s ease-out;
    grid-row: 1/3; }
  .header img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    color: #f8f9fa;
    text-align: left;
    justify-content: end;
    margin-right: 18rem;
    animation: moveInTop 0.7s ease-out; }
  .header p {
    font-size: 1.7rem;
    line-height: 1.5; }
  .header__btns-box {
    justify-self: start;
    margin-top: 3rem;
    animation: moveInRight 0.7s ease-out; }
  .header__social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem; }
  .header__social-icon {
    height: 1.8rem;
    width: 1.8rem;
    color: #f8f9fa; }
  .header__main--nav {
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s; }
    .header__main--nav:link, .header__main--nav:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      border: none;
      color: #f8f9fa; }
    .header__main--nav-cta:link, .header__main--nav-cta:visited {
      background-color: #cb0417; }
    .header__main--nav-cta:hover, .header__main--nav-Cta:active {
      background-color: #f8f9fa;
      color: #cb0417;
      transform: scale(1.1); }
    .header__main--nav-more:link, .header__main--nav-more:visited {
      background-color: #040505; }
    .header__main--nav-more:hover, .header__main--nav-more:active {
      background-color: #f8f9fa;
      color: #040505; }
    .header__main--nav:not(:last-child) {
      margin-right: 2rem; }

.section__interests {
  background-color: #f8f9fa;
  padding: 10rem 0; }
  .section__interests-title {
    padding-left: 12.5rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: #430108;
    font-size: 1.7rem;
    text-align: start;
    font-weight: 700;
    position: relative; }
    .section__interests-title::before {
      content: " ";
      display: block;
      background-color: #cb0417;
      position: absolute;
      top: 23%;
      left: 10.8rem;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem; }
  .section__interests-box {
    max-width: 70vw;
    min-height: min-content;
    margin: 0 auto;
    display: flex;
    align-self: center;
    opacity: 1; }
    .section__interests-box:nth-child(3) {
      flex-direction: row-reverse; }
    .section__interests-box:not(:last-child) {
      margin-bottom: 15rem; }
    .section__interests-box:hover > .section__interests--img-box {
      transform: scale(1.3); }
  .section__interests_coding {
    transition: all 1s; }
  .section__interests_blockchain {
    transition: all 1s 0.5s; }
  .section__interests_crypto {
    transition: all 1s 1s; }
  .section__interests--text-box {
    color: #72787f;
    padding: 5rem 10rem;
    font-size: 1.7rem;
    align-items: center;
    line-height: 1.8; }
    .section__interests--text-box * h3 {
      color: #040505; }
  .section__interests--img-box {
    display: flex;
    font-size: 20rem;
    color: #cb0417;
    align-items: center;
    transition: all 0.3s; }
  .section__interests_crypto--img-box {
    transform: rotate(13.88deg); }

.interest--hidden {
  opacity: 0;
  transform: translateY(10rem); }

.section__form {
  background-image: linear-gradient(to right bottom, #290105 25%, #010100 40%, #010100 100%);
  color: #f8f9fa; }
  .section__form--title-box {
    font-size: 4.2rem; }
    .section__form--title-box h3 {
      color: #f8f9fa; }
    .section__form--title-box span {
      color: #cb0417; }
  .section__form_container {
    min-height: 105vh;
    padding: 5rem 10rem;
    position: relative; }
    .section__form_container-abs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 45vw; }
  .section__form--btn-box {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly; }

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__group-name {
    display: flex;
    gap: 2rem; }

.form__label {
  font-size: 1.7rem; }
  .form__label:not(:last-child) {
    margin-bottom: 0.5rem; }

.form__input {
  display: block;
  width: 100%;
  height: 4rem;
  color: #040505;
  font-family: inherit;
  font-size: 1.7rem;
  border: none;
  border-radius: 9px;
  border-bottom: 3px solid transparent;
  padding-left: 0.5rem;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #cb0417; }
  .form__input-message {
    min-height: 20vh;
    padding-top: 0.5rem;
    justify-content: flex-start;
    resize: none; }

.footer {
  min-height: 15vh;
  font-size: 1.2rem;
  padding: 10rem 15rem 5rem 15rem;
  background-color: #f8f9fa;
  color: #040505; }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    margin: 0 auto; }
  .footer__heading {
    font-size: 2.2rem;
    color: #cb0417;
    margin-bottom: 3rem; }
  .footer__links {
    list-style: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.2rem; }
  .footer__link, .footer__link:visited {
    text-decoration: none;
    color: inherit; }
  .footer__col:not(:last-child) {
    width: 100%;
    border-right: 1px dotted #cb0417; }
  .footer__col-sections {
    justify-self: center; }
  .footer__col-address address > p:not(:last-child) {
    margin-bottom: 1.2rem; }
  .footer__col-logo {
    max-width: 20rem;
    line-height: 1.6;
    text-align: start; }
    .footer__col-logo a {
      color: #040505; }
    .footer__col-logo p {
      font-size: 1.2rem; }
  .footer__social-links {
    display: flex;
    list-style: none;
    gap: 1.5rem; }
  .footer__social-link {
    font-size: 1.7rem;
    transition: all 0.3s; }
    .footer__social-link:hover {
      color: #cb0417; }

.section__hobbies {
  min-height: 100vh;
  background-image: linear-gradient(to left top, #290105 0%, #010100 40%, #010100 100%);
  padding: 10rem 0; }
  .section__hobbies-title {
    padding-left: 12.5rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: #f8f9fa;
    font-size: 1.7rem;
    text-align: end;
    font-weight: 700;
    position: relative; }
    .section__hobbies-title::before {
      content: " ";
      display: block;
      background-color: #cb0417;
      position: absolute;
      top: 23%;
      right: 10.8rem;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem; }
  .section__hobbies_container {
    max-width: 85vw;
    margin: 0 auto; }
  .section__hobbies_row {
    display: flex; }

.section__skills {
  width: 100vw;
  min-height: 60rem;
  max-height: 80vh;
  padding: 5rem 10rem; }
  .section__skills_container {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.5rem; }
  .section__skills_col {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column; }
    .section__skills_col-title {
      margin-bottom: 8rem;
      text-align: center; }

.skill__container {
  justify-content: center; }
  .skill__container:not(:last-child) {
    margin-bottom: 1.8rem; }
  .skill__container_programming {
    max-height: calc((100% - 5rem * 2) / 4); }

.skill__title {
  font-size: 2rem;
  font-weight: 700;
  color: #040505;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1.8rem; }
  .skill__title span {
    font-size: 1rem;
    letter-spacing: normal; }

.skill__bar {
  width: 100%;
  background-color: #d2cfcf;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
  color: #f8f9fa;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase; }
  .skill__bar_value {
    padding: 1.2rem 2.4rem;
    background-color: #cb0417; }
    .skill__bar_value-html {
      width: 90%; }
    .skill__bar_value-css {
      width: 85%; }
    .skill__bar_value-js {
      width: 35%; }
    .skill__bar_value-vba {
      width: 60%; }
    .skill__bar_value-ita {
      width: 100%; }
    .skill__bar_value-eng {
      width: 70%; }
    .skill__bar_value-solve {
      width: 95%; }
    .skill__bar_value-communicate {
      width: 95%; }
    .skill__bar_value-organize {
      width: 95%; }
    .skill__bar_value-learn {
      width: 90%; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  border: none;
  color: #f8f9fa; }

.btn__submit {
  background-color: #cb0417; }
  .btn__submit:hover, .btn__submit:active {
    background-color: #f8f9fa;
    color: #cb0417;
    transform: scale(1.1); }

.btn__reset {
  background-color: #040505; }
  .btn__reset:hover, .btn__reset:active {
    background-color: #f8f9fa;
    color: #040505; }

.btn:not(:last-child) {
  margin-right: 2rem; }

.main__logo {
  cursor: pointer;
  text-decoration: none;
  font-family: "Satisfy", cursive;
  color: #f8f9fa;
  font-size: 3.8rem; }
  .main__logo span {
    color: #cb0417; }

/* The actual timeline (the vertical ruler) */
.timeline {
  margin: 2.5rem;
  padding: 2.5rem;
  position: relative; }
  .timeline__line {
    max-width: 85vw;
    margin: 0 auto; }
  .timeline::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    transform: translateX(-50%);
    background-color: #040505;
    top: 0;
    bottom: 0;
    left: 50%; }
  .timeline__container {
    display: flex;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%; }
    .timeline__container::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      right: -1.3rem;
      background-color: #fff;
      border: 4px solid #cb0417;
      top: 5rem;
      border-radius: 50%;
      z-index: 1; }
    .timeline__container-left {
      left: 0;
      justify-content: flex-end; }
      .timeline__container-left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white; }
      .timeline__container-left .timeline__content h2 {
        text-align: end; }
    .timeline__container-right {
      left: 50%; }
      .timeline__container-right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent; }
      .timeline__container-right::after {
        left: -1.2rem; }
  .timeline__content {
    padding: 2.5rem 5rem;
    position: relative;
    border-radius: 6px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px; }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px; }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%; } }

.card {
  perspective: 150rem;
  position: relative;
  height: 55vh; }
  .card__container {
    width: calc((100% - 6rem * 2) / 3);
    padding-top: 5rem; }
    .card__container:not(:last-child) {
      margin-right: 6rem; }
  .card__side {
    width: 100%;
    height: 55vh;
    background-color: #f8f9fa;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    box-shadow: 0 1.5rem 4rem rgba(248, 249, 250, 0.15); }
    .card__side_front-img {
      font-size: 20rem;
      color: #cb0417;
      display: flex;
      align-items: center;
      justify-content: center; }
    .card__side_back {
      transform: rotateY(180deg); }
  .card:hover .card__side_front {
    transform: rotateY(-180deg); }
  .card:hover .card__side_back {
    transform: rotateY(0); }
