.section__hobbies {
  min-height: 100vh;
  background-image: $background-default;
  padding: $padding-large 0;

  &-title {
    padding-left: 12.5rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: $color-grey-light;
    font-size: $font-size-regular;
    text-align: end;
    font-weight: 700;
    position: relative;

    &::before {
      content: " ";
      display: block;
      background-color: $color-primary;
      position: absolute;
      top: 23%;
      right: 10.8rem;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &_container {
    max-width: 85vw;
    margin: 0 auto;
  }

  &_row {
    display: flex;
  }
}
