.section__interests {
  background-color: $color-grey-light;
  padding: 10rem 0;

  &-box {
    max-width: 70vw;
    min-height: min-content;
    margin: 0 auto;
    display: flex;
    align-self: center;
    opacity: 1;

    @media only screen and (max-width: $bp-large) {
      max-width: 85vw;
    }
    @media only screen and (max-width: $bp-medium) {
      max-width: 90vw;
    }
    @media only screen and (max-width: $bp-phone-big) {
      flex-direction: column;
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
      @media only screen and (max-width: $bp-phone-big) {
        flex-direction: column;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15rem;

      @media only screen and (max-width: $bp-phone-big) {
        margin-bottom: $margin-medium;
      }
    }
    &:hover > .section__interests--img-box {
      transform: scale(1.3);
    }
  }
  &_coding {
    transition: all 1s;
  }
  &_blockchain {
    transition: all 1s 0.5s;
  }
  &_crypto {
    transition: all 1s 1s;
  }
  &--text-box {
    color: $color-grey;
    padding: 5rem 10rem;
    line-height: 1.8;

    @media only screen and (max-width: $bp-large) {
      padding: 3.5rem 7rem;
    }

    @media only screen and (max-width: $bp-phone-big) {
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: $bp-phone-big) {
      text-align: center;
    }

    & * h3 {
      color: $color-grey-dark;
    }
  }
  &--img-box {
    display: flex;
    font-size: 20rem;
    color: $color-primary;
    align-items: center;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-large) {
      font-size: 18rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 15rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 12rem;
    }
    @media only screen and (max-width: $bp-phone-big) {
      font-size: 8rem;
      align-self: center;
    }
  }
  &_crypto--img-box {
    transform: rotate(13.88deg);
  }
}

// Styling hidden class for the reveal section function
.interest--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
