.navigation {
  padding: 0 $padding-large;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: $color-black;

  @media only screen and (max-width: $bp-large) {
    padding: 0 $padding-medium;
  }
  @media only screen and (max-width: $pb-phone-big) {
    visibility: none;
    opacity: 0;
    pointer-events: none;
    transform: translate(50%, -50%) scale(0.2);
    width: 50vw;
    height: 60vw;
    padding: 0;
    position: absolute;
    top: 6.5rem;
    right: 5rem;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    transition: all 0.3s;
  }

  &__logo {
    @media only screen and (max-width: $pb-phone-big) {
      background-color: $color-black;
    }
  }

  .sticky & {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($color-primary-dark, 0.6);
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
  }

  &__nav {
    display: flex;
    list-style: none;
    gap: 4rem;

    @media only screen and (max-width: $pb-phone-big) {
      width: 100%;
      flex-direction: column;
      background-color: $color-black;
      align-items: center;
      padding-top: 2rem;
    }
  }
  &__link {
    text-decoration: none;
    transition: all 0.3s;

    &:link,
    &:visited {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-grey-light;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.5rem;
      }
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__item:last-child > a:link,
  &__item:last-child > a:visited {
    color: $color-primary;
  }
  &__item:last-child > a:hover,
  &__item:last-child > a:active {
    color: $color-grey-light;
  }
}

.nav__open .navigation {
  @media only screen and (max-width: $pb-phone-big) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0) scale(1);
  }
}
