.navigation {
  padding: 0 $padding-large;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: $color-black;

  .sticky & {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($color-primary-dark, 0.6);
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
  }

  &__nav {
    display: flex;
    list-style: none;
    gap: 4rem;
  }
  &__link {
    gap: 4rem;
    justify-content: space-between;
    text-decoration: none;
    transition: all 0.3s;

    &:link,
    &:visited {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-grey-light;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
